#score-container {
  display: flex;
  overflow: hidden;
}

.scores {
  appearance: none;
  border: none;

  background-color: var(--black);

  text-align: center;
  font-size: 1.2rem;
  color: var(--yellow);

  padding: 0.5rem 0;
}
